body {
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/wallpaper.png) no-repeat fixed;
  background-size: cover;
}

ul{
	list-style:  none;
}

li{
	text-decoration: none;
}

.navbar{
	position: fixed;
	/*height: 80px;*/
	/*overflow: hidden;*/
	top: 0;
	display: flex;
	align-items: center;
	background: #39618a;
	width: 100%;
	z-index:99;
}
.nav {
	position: fixed;
	/*height: 80px;*/
	/*overflow: hidden;*/
	top: 0;
	color: white;
	display: flex;
	align-items: center;
	background: #39618a;
	width: 100%;
	 z-index:99;
}

a.nav-link{
	color: white;
	padding-right: 15px;
	margin: 0px 20px;
}

.navbar-toggler{
	margin-right: 15px;
}
.top-links a{
	text-decoration: none;
	color: white;
	/*margin: 0 5px;*/
	padding: 0 10px 10px 10px;
	float: right;
	border-bottom: 2px solid transparent;
	transition: 0.3s;
}

.top-links a:hover{
	border-bottom: 2px solid white;	
}

.logo img{
	height: 60px;
	/*width: 75%;*/
	padding: 5px;
	border-radius: 10px; 
}

.first{
	display: block;
}

.second{
	display: none;
}

/*.top-menu, .top-filter{
	position: absolute;
	right: 20px;
	top: 25px;
}
*/

.top-menu a, .top-filter a{
	color: white;
	text-decoration: none;
	font-weight: 700;
	/*margin-left: 20px;	*/
	transition: 0.2s;
	text-transform: uppercase;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 10px;
}

.top-menu a:hover{
	border-bottom: 2px solid white;
}

.show-nav i,.filtering i{
	color: white;
	padding: 5px;
	margin-right: 20px;
}



.show-nav,.filtering, {
	display: none;
	position: absolute;
	right: 20px;

}

.show-nav,.filtering{
	width: 30px;
	height: 30px;
}

.filtering{
		right: 60px;
}


.margin{
	margin: 0;
}

.padding{
	padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}


/*.search-box{
	position: absolute;
	right: 100px;
	background: white;
	height: 40px;
	border-radius: 25px;
}*/

.profile{
	padding: 20px;
}

.search-btn{
	text-decoration: none;
	/*float: right;*/
	width: 40px;
	height: 40px;
	border-radius: 0 20px 20px 0;
	color:  white;
	background: #39618a;
	/*display: flex;*/
	/*align-items: right;*/
	justify-content: center;
	padding: 10px;
}


.search-btn i{
	font-size: 20px;

}


.search-txt{
	border: none;
	background: white;
	outline: none;
	float: left;
	padding: 0 10px;
	color: black;
	font-size: 16px;
	transition: 0.4s;
	width: 150px;
	/*width: 0px;*/
	line-height: 40px;
	background: white;
	border-radius: 25px 0 0 25px;
}

.top-filter-items input{
	/*position: absolute;*/
	visibility: hidden;
}

.top-filter-items input:checked{
	/*position: absolute;*/
	visibility: visible;
}

/*.search-box:hover>.search-txt{
	width: 240px;
	padding: 0 10px;
}
*/
/*.search-txt:focus{
	
	/*padding: 0 5px;
	}*/

/*.search-box:hover>.search-btn{
	background: white;
	color: #39618a;
}*/

.menu{
	width: 100%;
	margin-right: 50px;
}
.btn{
	margin: 0 2px;
	border: 1px solid black;
	/*box-shadow:  0 5px 20px rgba(33,33,33,.2); */
}

.pre-footer{
min-height:56px;}

#loop{
min-height:425px;}

.nav-link:hover{
	border-bottom: 2px solid white;
	transition: 0.7s;
}

.card{
	transition: 0.4s;
	margin: 15px;
	border-radius: 5px;
}

.sort{
	margin-top: 7px;
	/*position: absolute;*/
/*	left: 110px;
	top: 50px;*/
	/*width: 160px;*/
	/*height: 160px;*/
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	/*width: 230px;*/
	padding: 15px;
	border-radius: 15px;
	/*min-height: 50px;*/
	/*max-height: 250px;*/
	/*overflow: auto;*/
	border: 1px solid #ddd;
	z-index: 1;
}

.pair{
	/*padding: 5px;*/
	width: 100%;

}

.button{
  width: 90px;
  height: 100%;
  margin: auto;
  left: 0;
  position: absolute;
  background: linear-gradient(to right, green, yellow);
  border-radius: 30px;
  transition: 0.5s;
}

.toggle-btn{
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  outline: none;
  position: relative;
  background: transparent;

}


#Rating{
  top: 0;
  left: 0px;
}

#Date{
}




.buttons{
  margin: auto;
  position: absolute;
  top: 5px;
  left: 35px;
  /*background: linear-gradient(to right, green, yellow);*/
  border-radius: 30px;
  border: 1px solid black;
  /*box-shadow: 0 0 20px 5px #7dca18;*/
  /*transition: 0.5s;*/
}

#apply{
	position: absolute;
	top: 120px;
	left: 85px;
}

.order{
	top: 60px;
	left: 40px;
}


.card-body>ul .card-body{
	padding: 15px;
}

.recipe-body{
	min-height: 275px;
}

.card img{
	height: 275px;
}
.card-title{
	padding: 10px;
	white-space: nowrap;
    overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.links_recipes{
	background: #3e658c;
	margin:  10px auto;
	width: 150px;
	border-radius: 25px;
	transition: 0.3s;
}

.box{
	min-width: 350px;
	/*padding-left: 20px;*/
}

.search{
	background: #3e658c;
}
.search:hover{
	background: #3e658c;
	color: #e74c3c;
}

.links_recipes:hover{
	background: #3e658c;
	color: #e74c3c;
}

.card-body-mn{
	height: 10px;
}

.card-title{
	background: white;
	transform: translateY(-60px);
	transition: 0.3s;
	max-height: 70px;
	overflow:hidden;
	text-overflow: '...';
}

.logo>img{
	max-height: 65px;
/*	position: absolute;
	top: 0px;*/
	color: white;
	background: black;
	border-radius: 25px;
}
/*.card-text{
	transform: translateY(-275px);
	width: 100%;
	height: 0;
	opacity: 0;
	transition: 0.3s;
	position: absolute;

}*/
.card-text>p{
	/*margin: 3px;*/
	height: 210px;
	padding: 5px;
	background: rgb(255,255,255,0.6);
}

.center{
	text-align: center;
	vertical-align: middle;

}





.top-sort-showed{
	padding: 15px;
	min-width: 150px;
	display: block;
	overflow: hidden;
}

/*.card:hover .card-title,.card:hover  .card-text{
	
	transform: translateY(-275px);
	opacity: 1;
}*/

.card:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.for-menu{
	position: relative;
	margin: 20px;
	background: rgba(255, 255, 255, 0.7);
}

.top-filter-items{
	display: flex;
	padding: 0px 10px;
	align-items: center;
	cursor: pointer;
	background: transparent;
	transition: 0.2s;
	border-radius: 20px;

}



.top-filter-items i{
	display: inline-block;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	color: transparent;
	border: 1px solid black;
	border-radius: 50%;
}

.text{
	font-size: 16px;
	padding: 5px;
}

.top-ingr i{
	display: inline-block;
	text-align: center;
	line-height: 16px;
	font-size: 16px;
	color: transparent;
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px;
}


.top-filter-items input:checked ~ i,.top-ingr input:checked ~ i{
	color: #39618a;
	border: 1px solid #39618a;
}

.mini a,.mini-xs a{
	padding: 5px;
	float: right;
}
.mini-xs{
		display: none;
	}

.smenu{
	overflow: hidden;
	padding: 0px 0px;
	height: 0;
	opacity: 0;
	 -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fullSize{
	height: 300px ;
	opacity: 1;
	transition: 0.5s;

}

.absolute{
	position: absolute;
}

footer{
    min-height: calc(100vh - 50px);
    margin-top:50px;
	/*position: relative;
    margin-top: 5%;*/
    /*position: absolute;*/
    bottom: 0;
    float: left;
    font-family: Pacifico,serif;
    background: #264f79;
    border-top: 5px solid #111111;
    padding: 15px
}

.site_name{

    color: white;
    font-family: Pacifico,serif;
    font-size: 1.5em;
}
.foot-mnu{
    color: #f4f4f4;
    font-size: 1.4em;
}
.foot-mnu>a{
    color:white;
    margin-left: 2%;
}

.foot-mnu>a:hover,.rights>a:hower{
    border-bottom: 1px solid silver;
    color: #aeaeae;
}
.social{
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}
.social>a{
    color: white;
    margin-left: 2%;
    width: 35px;
    height: 35px;
    padding: 3px;
    float: right;
    background: black;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 1.2em;
    border: 1px solid black;
}
.social>a:hover{
    background: white;
    color: black;
    border: 1px solid black;
}
footer span{
	padding: 10px;
}

.time-input{
	width: 50px;
	background: none;
	font-size: 16px;
    color: #333;
    border: none;
    outline: none;
    background: none;
    padding: 0 5px;
    line-height: 20px;
    margin-bottom: 5px;
	margin-left: 10px;

    border-bottom: 1px solid #e5e5e5;

}

#datepicker{
	margin-left: 10px;
	width: 100px;
	background: none;
	font-size: 16px;
    color: #333;
    border: none;
    outline: none;
    background: none;
    padding: 0 5px;
    line-height: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.prev{

	border-radius: 30px 0 0 30px;
}

.next{

	border-radius: 0 30px 30px 0;
}

.pagination{
	position: absolute;
	top:20px;
	left:50%;
	transform: translate(-50%, -50%)
}

.page-item{
	margin: 0 5px;
}
.page-item,.page-link{
	height: 40px;
	min-width: 40px;
	border: none;
	text-align: center;
}

.page-link i{
	padding: 5px 0;
}
.page-link{
	background: #39618a;
    color: white;
}

.active a{
	background: #39618a;
	color: #c33c3c;
	font-size: 20px;
}
/*.bottom{
	position: relative;
}
*//*

.pagination a{
	display: block;
	width: 40px;
	margin: 5px;
	/*height: 40px;*/
	/*line-height: 40px;*/
	/*padding: 20px;
	background: yellow;
	transition: 0.3s;
}
*/
.pagination i{
	/*padding: 20px;*/
}
/*
#text{
	color: green;
}

.pagination a::before, .pagination a::after{
	content: "";
	position: absolute;
	border-top: 30px solid transparent;
	border-bottom:  30px solid transparent;

}
.num::before,.next::before{
	border-right: 20px solid #3e658c;
	right: 100%;
}
.num::after,.prev::after{
	border-right: 20px solid #f1f1f1;
	right: 0;
}
.current-page, #Prev, #Next{
	padding: 15px;
}*/
/*
.prev,.next{
	padding-right: 12px !important;
	font-size: 20px;
}
*/

.middle{
	display: none;
}
.search-box a{
	color: white;
	/*background: white;*/
	/*line-height: 40px;*/
	font-size: 16px;
}

@media screen and (max-width: 850px){

	.first{
	display: none;
}


div.big-menu{
	/*min-width: 350;*/
	display: none;
}

.middle{
	display: block;
	float: right;
}

.second{
	display: block;
}
	
}

/*.top-filter,.search-box{
	display: none;
}*/
 .mini-xs{
	display: none;
	color: white;
	position: absolute;
	/*right: 20px;*/
	/*width: 100%;*/
}



.top-links a:first-child {
	margin-right: 10px;
}

.small{
	display: none;
}

.big-menu{
	float: right;
}

.top-menu-show,.middle-menu{
	display: none;
	text-align: center;
	background: #39618a;
	/*width: 100%;*/
	top: 50px;
	height: auto;
	position: absolute;
}


.top-menu-show a,.middle-menu a{
	border: 1px solid white;
	width: 100%;
	text-align: center;
}
.resize{
	padding-left: 20px;
}

@media screen and (max-width: 500px){
.resize{
	padding-left: 0;
	max-width: 250px;
}
.navbar-toggler{
	color: white;
	padding: 5px;
}

.navbar-toggler-icon{
	color: black;
}
}

@media screen and (max-width: 850px){
	.navbar{
	overflow: visible;
	}
	.top-filter{
	display:inline-block;
	}
	.middle-menu-showed{
		display: block;
	}

.search-txt{
	width: 50%;
}

.mini{
	font-size: 25px;
	color: white;
	display: inline-block;
}
.top-links{
	display: none;
}
	.top-menu a, .top-filter a,.search-box a{
		text-align: center;
		display: inline-block;
		margin: 0;
		padding: 10px;
		/*border-top: 1px solid white;  */

	}
	..top-filter{
	display: none;
}
	 .mini a{
	 	display: inline-block;
	 }

	.show-nav,.filtering {
		display: block;
		cursor: pointer;
	}
	.show{
	height: auto;
	background-color:#39618a;
	}

}

.content-control{
	height: 40px;
}

.control-panel{
	    padding: 15px;
}

.ingr{
	padding: 5px;

}

.ingr-cont{
	padding-top: 10px;
	min-height: 265px;
}

.ingr i{
	padding-left: 10px;
}


#ingr-cont1{
  width: 100%;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
.ingr{
	width:50%;
	line-height:1.5em;
	float:left;
	display:inline;
}

.none{
	display: none;
}



#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.filter {
    color: black;
	margin-top: 7px;
/*	position: absolute;
	left: 110px;
	top: 50px;*/
	width: 150px;
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	width: 230px;
	height: auto;
	min-height: 50px;
	max-height: 250px;
	/*overflow: auto;*/
	border: 1px solid #ddd;
	z-index: 1;
}


.filter a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.showing {display: block;}


@media screen and (max-width: 620px){

	.for-logo{
		display: none;
	}
	.small{
		display: inline-block;
		font-size: 18px;
	}
	.middle{
		display: none;
	}

/*	.ex-small{
		margin-left: 25px;
	}
*/
	.mini{
		display: inline-block;;
	}
	.mini-xs{
		/*display: inline-block;*/
	}
	.top-menu-showed{
		display: block;
	}

}

@media screen and (max-width: 750px){
	.logo>img{
		height: 50px;
	}
	.top-menu-showed{
		display: block;
	}
	.top-filter{
		width: 50px;
		float: right;
	}
}

@media screen and (max-width: 660px){
.search-txt {
    width: 35%;
}

#show-menu{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	top: -20px;
}
}
.more{
display: inline-block;

}
.less{
	display: none;
}

@media screen and (max-width: 920px){

.more{
	display: none;
}
.less{
	display: inline-block;
}
}

h2.name{
	line-height: 40px;
}

.name{
 	color: grey;
  font-size: 2rem;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 370px){

	.logo{
		display: none;
	}

}

@media screen and (min-width: 970px){
.nav-item{
	color: white;
    text-decoration: none;
    font-weight: 700;
    /*margin: 0 5px;*/
    /* margin-left: 20px; */
    transition: 0.2s;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
}
a.nav-link{
	margin: 0 5px;
}
}

@media screen and (min-width: 970px){

	.navbar-nav{
	margin-right: 10px;
}
	}


.ingr-add{
	color: grey;
  font-size: 16px;
  color: #333;
  border: none;
  width: 60%;
  outline: none;
  background: none;
  padding: 0 5px;
  line-height: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.divtext {
    border: ridge 2px;
    padding: 5px;
    width: 100%;
    overflow: auto;
    min-height: 250px;
    overflow: auto;
}

textarea{
	box-sizing: border-box;
    min-height: 150px;
    width: 100%;
    overflow: auto;
}


#img-box {
    overflow: hidden;
    position: relative;
}
#file {   
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(150,225,150,0.5);
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
}

/*
 <div class="mini ">
                      <a href="login.html"><i class="fas fa-sign-out-alt"></i></a>
                      <!-- <a href=""><i class="far fa-address-card"></i></a> -->
                      <a id="show-menu"><i class="fas fa-list-ul"></i></a>
                      <div class="top-menu-show padding">
                        <a href="">Profile</a>
                        <a href="">About</a>
                        <a href="index.html">Home</a>
                      </div>
                    */


li.active-num a{
	font-size: 18px;
	background: #39618a;
	color: #c33c3c;
}


.navbar-dark .navbar-nav .nav-link{
	color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	color: white;
	border: none;
}

.nav-item{
	background: #39618a;
	/*border-bottom: 1px solid white;*/
	
}

.navbar-nav li a{
	text-decoration: none;
	position: relative;
	overflow: hidden;
	/*transition: 0.5s all;*/
}

.navbar-nav li a:before{
	content:"";
	width: 0px;
	position: absolute;
	border-bottom: 3px solid white;
	bottom: 0;
	transition: 0.5s all;
}

.navbar-nav li a:hover:before{
	width: 100%;
}


.navbar-expand-lg .navbar-nav .nav-link {
     padding-right: 0;
    padding-left: 5px;
}

.navbar-collapse{
	padding: 5px;
}

.like-link{
cursor: pointer;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: none;
    border: none;}


.forSearch{
	background: white;
	color: #39618a;
    text-shadow: none;
}

.navbar-nav form{
margin:0;}

ul.pagination{
    position: static;
    transform: translate(0, 0);

}

.overflow {
  margin: 0 0 2em 0;
	  white-space: nowrap;
  	overflow: hidden;
}
.ellipsis { text-overflow: ellipsis; }


