*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
  box-sizing: border-box;
}

body{
  /*min-height: 100vh;*/
  width: 100%;
  height: 100%;
  background: url(../img/wallpaper.png) no-repeat fixed;
  background-size: cover;
  /*position: relative;*/
}

.forms{
  overflow: hidden;
  left: 35%;
  /*top: 180px;*/
  width: 360px;
  background: #f1f1f1;
  /*height: 500px;*/
  padding: 60px 40px;
  border-radius: 10px;
  position: absolute;
  transition: 0.5s;
}

#login>div{
  margin-top: 40px;
}

.login-form{
  /*width: 360px;
  position: absolute;*/
  transition: 0.5s;
  overflow: hidden;
}

.buttons{
  margin: auto;
  position: absolute;
  top: 40px;
  left: 80px;
  /*background: linear-gradient(to right, green, yellow);*/
  border-radius: 30px;
  box-shadow: 0 0 20px 5px #7dca18;
  /*transition: 0.5s;*/
}

#button{
  width: 110px;
  height: 100%;
  margin: auto;
  left: 0;
  position: absolute;
  background: linear-gradient(to right, #097cbf, #00dcff);
  border-radius: 30px;
  transition: 0.5s;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  color: transparent;
  outline: none;
  position: relative;
  background: transparent;

}


.login-form h1{
  text-align: center;
  margin-bottom: 60px;
  position: absolute;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: bottom;
  width: 0%;
  height: 2px;

  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: #46a3b8;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/*.logbtn:hover{
  background-position: right;
}*/

.bottom-text{
  margin-top: 35px;
  text-align: center;
  font-size: 16px;
}

.forms{
  overflow: hidden;
}
/*
.front{
  height: 580px;
  transition: 0.4s;
  transform: perspective(600px) rotateY(0deg);
}

.back{
  height: 0;
*/  /*overflow: hidden;
  /*width: 100%;
  transition: 0.4s;
  transform: perspective(600px) rotateY(180deg);s
}

.front-flip{
  height: 0;
  transform: perspective(600px) rotateY(-180deg);
}

.back-flip{
  height: 580px;
  transform: perspective(600px) rotateY(0deg);
}
*/

/*@media screen and (max-width: 850px){
  .login-form{*/
  /*transform: translate(86%,50%);
/*}
}*/

#login{
  top: 100px;
  padding: 20px;
  left: 0px;
}

#register{
  padding: 20px;
  /*left: 400px;*/
}