<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Список рецептов</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-select.css" >
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index">Название</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Все рецепты</a>
                </li>
                #if($currentUser)
                    <li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выйти</a>
                    </li>
                    </li>
                #else
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Вход</a>
                    </li>
                #end
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="col-md-8">
    <h1 class="my-4"> </h1>
#foreach($recipe in $recipes)
<div class="card mb-4">
    <img class="card-img-top" src=$recipe.largeCover>
    <div class="card-body">
        <h2 class="card-title">$recipe.getName()</h2>
        <p class="card-text">$recipe.getDescription()</p>
        <a href="/recipes/$recipe.id" class="btn btn-primary">Подробнее &rarr;</a>
    </div>
    <div class="card-footer text-muted">$recipe.getPublicationTime()
        <a href="#">$recipe.getAuthor()</a>
    </div>
</div>
    #end
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Новее</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#"> Старее &rarr;</a>
    </li>
</ul>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Название &copy; Emmilycorp 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap-select.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>