#parse("/velocity/header.vm")
#@mainLayout()
<div class="topPart">
    <link rel="stylesheet" href="../../css/recipe.css">
    <link rel="stylesheet" href="../../dist/pell.css">
    <link rel="stylesheet" href="../../css/datapicker.css">
    <form id="commentform" method="post" enctype="multipart/form-data">
        <h2 style="padding: 0 5%;"><input type="text" name="name" id="author" placeholder="Name" class="ingr-add name"
                                          name="recipe_name" required/></h2>
        <div class="topWrap">
            <div class="topPartItem topPartItemFirst">
                <div class="forImage">
                    <div id="img-box">
                        <input type="file" name="files" multiple id="file" accept="image/gif, image/jpeg, image/png"
                               onchange="previewFile()"/>
                        <img class="card-img-top" src="" data-src="../../img/logo.png" id="rec-img">
                    </div>
                    <div class="conf">
                        <div class="leftConf">
                            <p><span>Category :</span>
                                <select id="browsers" name="category" required>
                                    <option selected disabled>Choose category</option>
                                    #foreach($str in $categories)
                                        #if($recipe.getCategoryName() == $str)
                                            <option value="$str">$str</option>
                                        #else
                                            <option value="$str">$str</option>
                                        #end
                                    #end
                                </select>
                            </p>
                            <p>Publication time:<input type="text" maxlength="5" value="00:00" class="time-input"
                                                       name="time"/></p>
                            <p>Publication date: <input data-date-format="dd/mm/yyyy" id="datepicker" name="date"></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="topPartItem topPartItemSecond">
                <h2 class="name" size="25" style="text-align: center; border-bottom: 1px solid #e5e5e5; ">
                    Ingredients</h2>
                <div id="img-box">
                    <ul class=" ingr-cont" id="ingr-cont">
                        <li class="ingr">
                            <input type="text" class="ingr-add" name="add-ingr" required><i
                                class="far fa-plus-square" onclick="addIngr()"></i><i
                                class="far fa-minus-square " required></i>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="topPartItem">
                <h2 style="text-align: center;">Recipe</h2>
                <div id="editor" class=" divtext pell"></div>
                <textarea id="html-output" name="description" style="display: none;" required=""></textarea>
            </div>
        </div>
    </form>
    <footer>
        <button class="searchBtn" name="Comment" onclick=SubmitForm('commentform') id="submit" value="Save">Save</button>
    </footer>
</div>
#end
<script src="../../dist/pell.js"></script>
<script src="../../dist/pell_init.js"></script>
<script src="../../js/recipe.js"></script>