#parse("/velocity/header.vm")
#@mainLayout()
<link rel="stylesheet" href="../../css/logreg.css">
<div class="topPartItem logReg">
    <form id="login" class="login-form" method="POST">
        #if($authenticationFailed)
            <p class="bad notification">Wrong password or login</p>
        #end
        <ul class="ui-form">
            <li class="form-group imp">
                <label for="name">Login</label>
                <input type="text" name="username" id="name" class="wide" required="">
            </li>
            <li class="form-group imp">
                <label for="password1">Password</label>
                <input type="password" name="password" id="password1" class="wide" required="">
            </li>
        </ul>
        <input type="submit" class="searchBtn" value="Log In" required="">
        <div class="bottom-text">
            <p>Don't have an account? <a href="/registr">Registration</a></p>
        </div>
    </form>
</div>
<div style="clear:both"></div>
<div style="clear:both"></div>
#end