#parse("/velocity/header.vm")
#@mainLayout()
<div class="topPartItem logReg">
    <div class="topWrap">
        <div class=" topPartItem " style="margin: 10% auto">
            <h1 style="margin:auto">$message</h1>
        </div>
    </div>
</div>
#end