<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>Cook Eat Repeat</title>
    <link rel="shortcut icon" href="../../img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendor/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../../css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top padding">
      <div class="container-fluid margin nav">
        <div class=" padding logo">
                <a href="/index">
                  <img class="first" src="../../img/logo.png" alt="">
                  <img class="second" src="../../img/favicon.png" alt="">
                </a>
            </div>
            <div class="padding resize">
                <div class="search-box margin padding">
                  <div class="box margin">
        <form action = "/search" onsubmit="getCheckedBoxes()" name = "searchForm" class="margin ">
                      <input class="search-txt" type="text" id="Search" placeholder="Search" name="title">
                      <button type="submit" class=" like-link search-btn  forSearch" ><i class="fas fa-search"></i></button>
                      <a href="#" class="search-btn" id="show-filter"><i class="fas fa-filter"></i></i></a>
                      <div class="filter" id="Dropdown">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        #foreach($str in $ingredients)
                          <label class="margin padding top-filter-items"><input name="ingr" type="checkbox" value=$str>
                          <span class="text">$str</span></label>
                     #end
                      </div>
                    </form>
                  </div>
                  <div class="sort" id="Sort-dd">
                    <div class="pair">
                        <form action="/sort_rating" name="sort" style="margin: 0; display: inline-block;">
                          <button id="Rating"  name="Rating">Rating </button>
                        </form>
                        <form action="/sort_date" name="sort" style="margin: 0; display: inline-block;">
                            <button id="Date"  name="Date">Date </button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        <button action="/search" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            #if ($currentUser)
                   #if ($currentUser.getPrivilege() == 2)
          <li class="nav-item"><a  class="nav-link" href="/profile_page">Profiles</a></li>
                  #end
                  #if ($currentUser.getPrivilege() != -1)
          <li class="nav-item"><a  class="nav-link" href="/create_recipe">Add&nbsp;recipe</a></li>
          #end
          <form action="/logout"> <li class="nav-item"><a  class="nav-link" class="more" href="/logout"><button class="like-link">Log&nbsp;Out</button></a>   <!-- desctoy session*/ --></li></form>
          #else
          <li class="nav-item"><a class="nav-link" href="/login">Log&nbsp;In</a></li>
          #end
       </ul>
        </div>
      </div>
    </nav>
<div class="container-fluid menu padding">
    <div class=" margin row for-menu">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class=" margin row ">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class=" card recipe">
                    <div class="card-body row ">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 " id="">
                              <h2 class="name" id="author" >$recipe.getName()</h2>
                              <div id="img-box" class="col-xs-12 col-sm-12 col-md-12 ">
                                <img class="card-img-top" src=$recipe.getImg()  id="rec-img" >
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                <h2 style=" line-height: 40px;  margin-bottom: 5px;border-bottom: 1px solid #e5e5e5;">Ingredients</h2>
                              </div>

                              <ul class="col-md-12 col-sm-12 col-xs-12 margin ingr-cont" id="ingr-cont">
                              #foreach($str in $recipe.getArrayOfIngredients())
                                <li class="ingr">
                                  <span type="text" class="ingr-add">$str</span>
                                </li>
                                #end
                              </ul>
                            </div>
                          </div>
                        </div>
                        <hr>
                      </div>
                      <div class="control-panel padding col-md-12 col-sm-12 col-xs-12 ">
                         <span>Publishing date: <span class="time-input"> $recipe.getPublicationTime()</span></span>
                         #if($currentUser.getId() == $recipe.getAuthorId() || $currentUser.getPrivilege() == 2)
                         <a href="/recipes/$recipe.getId()/edit"><button class="center btn lnks_recipes btn-primary" value="Edit">Edit</button></a>
                         <form action="/delete_recipe/$recipe.getId()"><button class="center btn lnks_recipes btn-primary"  name="Delete" id="Delete" value="Delete">Delete</button></form>
                         <span style="display: inline-block; font-size: 16px;">Likes: $recipe.getRating()</span>
                         #else
                         <br>
                         <span style="display: inline-block; font-size: 16px;">Likes: $recipe.getRating()</span>
                             #end
                          #if($currentUser)
                         #if($currentUser.getId() != $recipe.getAuthorId() && $currentUser.getPrivilege()!=2 && $haveVoted == false && $currentUser.getPrivilege()!=-1)
                         <form action="/like/$recipe.getId()" style="display: inline-block;"><button class="center btn lnks_recipes btn-primary" style="height: 30px;font-size: 16px;"  name="like" id="Delete" value="Delete"><i class="far fa-thumbs-up"></i></button></form>
                         #elseif($currentUser.getId() != $recipe.getAuthorId() && $currentUser.getPrivilege()!=2 && $haveVoted == true && $currentUser.getPrivilege()!=-1)
                         <form action="/dislike/$recipe.getId()" style="display: inline-block;"><button class="center btn lnks_recipes btn-primary" style="height: 30px;font-size: 16px;"  name="dislike" id="Delete" value="Delete"><i class="far fa-thumbs-down"></i></button></form>
                         #end
                          #end
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="recipe">
                      <div class="card-body row ">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <h2> Recipe</h2>
                          <hr>
                          <div class="divtext" id="recipe" >$recipe.getDescription()</div>
                        </div>
                      </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid margin padding">

<footer class="col-xs-12 col-sm-12 col-md-12">
  <div class="row">
  <div class="site_name col-xs-4 col-sm-4 col-md-4 padding margin">
      </div>
      <div class="social col-xs-3 col-sm-3 col-md-3 padding margin">
      </div>
      <div class=" site_name col-xs-4 col-sm-4 col-md-4 padding margin">
        <span>All rights are reserved &copy; <?=date('Y') ?></span>
      </div>
      </div>
</footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/scripts.js"></script>

</body>
</html>
