#parse("/velocity/header.vm")
#@mainLayout()
<link rel="stylesheet" href="../../css/logreg.css">
<div class="topPartItem logReg">
    <form id="register" class="login-form" method="POST">
        #if($authenticationFailed)
            <p class="bad notification">Email has already registered!</p>
        #end
        <ul class="ui-form">
            <li class="form-group imp">
                <label for="name">Login</label>
                <input type="text" name="username" id="name" class="wide" required="">
            </li>
            <li class="form-group imp">
                <label for="password1">Password</label>
                <input type="password" name="password" id="password1" class="wide" required="">
            </li>
            <li class="form-group imp">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="wide" required="">
            </li>
        </ul>
        <p><input type="checkbox" required=""><a href="/about">You accept our policy</a></p>
        <input type="submit" class="searchBtn" value="Register" required="">
        <div class="bottom-text">
            <br>
            Already have an account? <a href="/login"> Log&nbsp;In</a>
        </div>
    </form>

</div>
<div style="clear:both"></div>
</div>
<div style="clear:both"></div>
</div>

#end