<pre style="word-wrap: break-word; white-space: pre-wrap;"># robots.txt file for CookEatRepeat
User-agent: *
Allow: /index
Allow: /recipe
Disallow: /app
Host: https://g3.sumdu-tss.site
Crawl-delay: 10
Clean-param: ref /recipes
Clean-param: ref /index
Clean-param: ref /search
</pre>